.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;

  background-color: #fffaf6;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;

  z-index: 1000;

  transition: 0.3s;
}

.topbar:hover {
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
}

.topbar-left {
  margin-right: -100px;
}

/* MENÚ */
.topbar-center {
  display: flex;
  gap: 60px;
  justify-items: center;
}

.topbar-center a {
  text-decoration: none;

  font-family: 'Playfair Display', serif;

  font-size: 18px;
  font-weight: 600;

  color: #1d1d1d;

  letter-spacing: 0.5px;

  transition: all 0.3s ease;
}

.topbar-center a:hover {
  color: #8f6ad8;
  transform: translateY(-2px);
}

/* ICONOS */
.topbar-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.topbar-right a i {
  font-size: 22px !important;
  color: #131212 !important;

  transition: 0.3s;
}

.topbar-right a i:hover {
  color: #8f6ad8 !important;
  transform: scale(1.1);
}
