<div class="topbar">

  <div class="topbar-left">
    <a routerLink="/principal">
      <img src="/assets/logo2.png" style="height:100px; margin-right: -80px; cursor: pointer;">
    </a>
  </div>

  <!-- Menú -->
  <div class="topbar-center">
    <a routerLink="/Principal">Inicio</a>
    <a routerLink="/promos">Promos</a>
    <a routerLink="/menu">Menú</a>
    <a routerLink="/dulces">Dulces Momentos</a>
    <a routerLink="/contacto">Contáctanos</a>
  </div>

  <!-- Iconos -->
  <div class="topbar-right">
    <i class="pi pi-search"></i>
    <a routerLink="/inicio"><i class="pi pi-user"></i></a>
    <a routerLink="/carrito"><i class="pi pi-shopping-bag"></i></a>
  </div>
</div>
