<div class="topbar">

  <div class="topbar-left">
    <a routerLink="/principal">
      <img src="/assets/logo2.png" style="height:100px; margin-right: -80px; cursor: pointer;">
    </a>
  </div>

  <!-- Menú -->
  <div class="topbar-center">
    <a routerLink="/principal">Inicio</a>
    <a routerLink="/promociones">Promos</a>
    <a routerLink="/menu">Menú</a>
    <a routerLink="/personalizacion">Postres Personalizados</a>
    <a href="https://github.com/Deivid012-12/DDeLi" target="_blank">
      Contáctanos
    </a>
  </div>

  <div class="topbar-right">
    <a routerLink="/inicio"><i class="pi pi-sign-in"></i></a>
    <a routerLink="/perfil"><i class="pi pi-user"></i></a>
    <a routerLink="/carrito"><i class="pi pi-shopping-bag"></i></a>
  </div>
</div>
